
.pizarra{
    /*background-color:red;*/
    display:flex;
    justify-content: center;
    padding: 2px;
}

ul,li{
  list-style:none;
}
ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:hidden;
  margin: auto;
  padding: 10px 0;
}

li {
    position: relative;
    margin:2em;
}

ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:12em;
  width:12em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
}

ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

@media (min-width:  576px) and (max-width:992px) { /*tablets y pantallas pequeñas*/
  
  ul li a{
    
    height:10em;
    width:10em;
  }

}

@media (max-width: 575px)/* and (max-width:992px) */{ /*celulares*/

  ul{
    /*display: grid;
    grid-template-areas: 'pizarra';
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;*/
    display: block;
    grid-template-columns: none;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    /*padding: 20px 4px ;*/
    position: relative;
  }

  li{
    /*position: absolute;
    grid-area: pizarra;*/
    display: inline-block; 
    white-space: normal;
    -o-transform:rotate(-4deg);
    -webkit-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg); 
    width: auto;
    margin: 2em -30% 2em 10px;
    position: static;    
  }

  ul li:nth-child(even) a{
    position:relative;
    /*top:5px;*/
    background:#cfc;
  }
  ul li:nth-child(3n) a{
    position:relative;
    /*top:-5px;*/
    background:#ccf;
  }

  ul li:hover, ul li:focus{

    -o-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    /*position: absolute;*/
    /*z-index: 20;*/
    margin: 2em 15%;
  }
}